/* Add screen styles below */
a.active {
    font-weight: bold;
}

body{
    background-image: url(IMG_4376.JPG);
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.name{
    margin: 10px;
    color: white;
}

.hometext{
    text-align: center;
    color: white !important;
    margin-top: 600px;
}