@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');


a.active {
    font-weight: bold;
}

body{
    background-image: url(IMG_4376.JPG);
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.name{
    margin: 10px;
    color: white;
    font-family: "Krona One";
}

.hometext{
    text-align: center;
    color: white !important;
    margin-top: 600px;
    font-family: "Krona One";
}