@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');


body{
    background-color: black;
}

.heading{
    color: white;
    margin: 30px;
    font-family: "Krona One";
}


.re4{
    margin-left: 160px;
}

.mystery{
    margin-left: 800px;
    padding-bottom: 40px;
    margin-top: -590px;
}

.h2{
    margin-left: 220px;
    margin-top: -32px !important;
    color: white !important;
    font-family: "Krona One";
}

.h3{
    margin-left: 840px;
    padding-bottom: 40px;
    margin-top: -460px !important;
    color: white !important;
    font-family: "Krona One";
}