
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');


body{
    background-color: black;
}

.navbar{
    font-family: "Krona One";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    color: white !important;
    margin: 30px;
    font-family: "Krona One";
}

.about-text{
    color: white !important;
    font-size: 20px;
    margin: 30px;
    
}

.img{
    margin-left: 1000px;
    padding-bottom: 40px;
    margin-top: -60px;
}